.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  .logo {
    filter: brightness(0) invert(1);
  }
}

@media (min-width: 992px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
