.breadcrumb {
  a {
    color: $primary-100;
  }
}

.place {
  padding-top: 156px;
}

.osaka {
  height: 100%;
  img {
    width: 100%;
  }
}
.category {
  text-align: center;
  img {
    width: 64px;
    height: auto;
  }
}
.favorite-btn,
.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 16px 0 16px;
}

.button-prev,
.button-next {
  color: $primary-100;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}

.tourism {
  a.active {
    font-weight: 600;
    color: $primary-100;
    padding-bottom: 16px;
    border-bottom: 4px solid $primary-100;
  }
}

.swiper-container {
  position: relative;
  width: 100%;
  padding: 40px 0; /* 保留上下空間給箭頭 */
}

.swiper {
  width: auto;
}

/* 基本位置 */
.button-prev,
.button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 18px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  color: $primary-100; /* SVG 顏色 */
}

/* 左右位置 */
.button-prev {
  left: -80px;
}
.button-next {
  right: -80px;
}

@media (min-width: 992px) {
  .button-next,
  .button-prev {
    display: none !important;
  }
}

.Strategy {
  .card {
    border-radius: 16px;
  }
}

@media (min-width: 992px) {
  .osaka {
    height: 417px;
  }
  .category {
    img {
      width: 150px;
      height: auto;
    }
  }
}
