<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>地點搜尋</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="container place mb-lg-10 mb-7">
        <nav aria-label="breadcrumb" class="mb-7 d-none d-lg-block">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item"><a href="#">日本</a></li>
            <li class="breadcrumb-item"><a href="#">關西</a></li>
            <li class="breadcrumb-item active" aria-current="page">大阪</li>
          </ol>
        </nav>
        <div>
          <h1 class="fs-lg-2 fs-4 fw-bold mb-2">大阪</h1>
          <p class="fs-lg-8 fs-9 text-secondary-80 mb-6">
            大阪，一座融合傳統與現代的城市，擁有豐富的歷史文化、熱鬧的購物街區與世界知名的美食天堂。從氣派的大阪城到霓虹閃爍的道頓堀，每一處都充滿驚喜。無論是第一次造訪，還是再次回味，大阪總能用它的熱情與魅力，讓你留下難忘回憶。
          </p>
          <div class="rounded-4 overflow-hidden osaka d-flex position-relative">
            <button
              type="button"
              class="btn btn-light border border-primary-100 position-absolute bottom-0 end-0 mb-6 me-6 fs-8 fw-bold text-primary-100 p-0 py-4 px-6"
            >
              查看更多
            </button>
            <div class="me-lg-2 me-0 col-lg-7">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-1.png?raw=true"
                alt="大阪城"
                class="object-fit-cover"
              />
            </div>
            <div class="col-lg-5 d-lg-flex flex-nowrap d-none">
              <div class="me-2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-2.png?raw=true"
                  alt=""
                  class="mb-2"
                />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-3.png?raw=true"
                  alt=""
                />
              </div>
              <div>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-4.png?raw=true"
                  alt=""
                  class="mb-2"
                />

                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-5.png?raw=true"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="container"></div>
        </div>
      </section>
      <section class="container py-7 py-lg-10">
        <div>
          <h2 class="fs-4 fs-lg-2 fw-bold text-primary-100 mb-7">
            <span class="d-lg-inline d-block">想怎麼玩大阪？</span
            ><span>熱門分類快速選！</span>
          </h2>
          <div class="row">
            <div class="col-lg-3 col-6 mb-4">
              <div class="card">
                <div class="bg-primary-10 category py-5">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-1.svg"
                    class="card-img-top p-0"
                    alt="..."
                  />
                </div>
                <div class="p-6">
                  <h4 class="fs-lg-7 fs-8 fw-bold">交通優惠</h4>
                  <p class="fs-lg-8 fs-9 text-secondary-80">20+ 種選擇</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
              <div class="card">
                <div class="bg-primary-10 category py-5">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-2.svg"
                    class="card-img-top p-0"
                    alt="..."
                  />
                </div>
                <div class="p-6">
                  <h4 class="fs-lg-7 fs-8 fw-bold">一日遊</h4>
                  <p class="fs-lg-8 fs-9 text-secondary-80">50+ 種選擇</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card">
                <div class="bg-primary-10 category py-5">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-3.svg"
                    class="card-img-top p-0"
                    alt="..."
                  />
                </div>
                <div class="p-6">
                  <h4 class="fs-lg-7 fs-8 fw-bold">景點門票</h4>
                  <p class="fs-lg-8 fs-9 text-secondary-80">70+ 種選擇</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card">
                <div class="bg-primary-10 category py-5">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-4.svg"
                    class="card-img-top p-0"
                    alt="..."
                  />
                </div>
                <div class="p-6">
                  <h4 class="fs-lg-7 fs-8 fw-bold">美食餐廳</h4>
                  <p class="fs-lg-8 fs-9 text-secondary-80">80+ 種選擇</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container py-7 py-lg-10">
        <div>
          <h2 class="fs-lg-2 fs-4 fw-bold text-primary-100 mb-7">
            大阪 TOP 10!
          </h2>
          <button
            type="button"
            class="btn button-prev star-0 top-50 shadow position-absolute border-0 d-none d-lg-block"
          >
            <span class="material-symbols-outlined"> arrow_back </span>
          </button>
          <button
            type="button"
            class="button-next end-0 top-50 shadow position-absolute border-0 d-none d-lg-block"
          >
            <span class="material-symbols-outlined"> arrow_forward </span>
          </button>
          <swiper-container
            class="mySwiper container d-lg-block d-none"
            slides-per-view="4"
            initial-slide="0"
            space-between="24"
            pagination="false"
            pagination-type="fraction"
            navigation="false"
            swiper-autoplay-delay=" 2500ms"
            autoplay-disable-on-interaction="false"
          >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用</span
                      >
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.8</span
                      >
                      <span class="text-secondary-60">(1029)</span
                      ><sapn class="border-start ps-3 ms-3">
                        1,000+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 5,480
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 6,200</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >中文導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >

                      <span class="text-secondary-60">(880)</span
                      ><sapn class="border-start ps-3 ms-3">
                        900+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 2,250
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,800</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >專業導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.6</span
                      >
                      <span class="text-secondary-60">(540)</span
                      ><sapn class="border-start ps-3 ms-3">
                        700+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 1,580
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,500</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >7天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >
                      <span class="text-secondary-60">(319)</span
                      ><sapn class="border-start ps-3 ms-3">
                        600+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 6,890
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 8,890</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用</span
                      >
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.8</span
                      >
                      <span class="text-secondary-60">(1029)</span
                      ><sapn class="border-start ps-3 ms-3">
                        1,000+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 5,480
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 6,200</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >中文導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >

                      <span class="text-secondary-60">(880)</span
                      ><sapn class="border-start ps-3 ms-3">
                        900+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 2,250
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,800</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >專業導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.6</span
                      >
                      <span class="text-secondary-60">(540)</span
                      ><sapn class="border-start ps-3 ms-3">
                        700+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 1,580
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,500</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >7天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >
                      <span class="text-secondary-60">(319)</span
                      ><sapn class="border-start ps-3 ms-3">
                        600+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 6,890
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 8,890</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
          </swiper-container>
          <swiper-container
            class="mySwiper container d-block d-lg-none"
            slides-per-view="1"
            initial-slide="0"
            space-between="24"
            pagination="false"
            pagination-type="fraction"
            navigation="false"
          >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用</span
                      >
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.8</span
                      >
                      <span class="text-secondary-60">(1029)</span
                      ><sapn class="border-start ps-3 ms-3">
                        1,000+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 5,480
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 6,200</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >中文導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >

                      <span class="text-secondary-60">(880)</span
                      ><sapn class="border-start ps-3 ms-3">
                        900+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 2,250
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,800</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >專業導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.6</span
                      >
                      <span class="text-secondary-60">(540)</span
                      ><sapn class="border-start ps-3 ms-3">
                        700+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 1,580
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,500</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >7天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >
                      <span class="text-secondary-60">(319)</span
                      ><sapn class="border-start ps-3 ms-3">
                        600+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 6,890
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 8,890</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用</span
                      >
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.8</span
                      >
                      <span class="text-secondary-60">(1029)</span
                      ><sapn class="border-start ps-3 ms-3">
                        1,000+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 5,480
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 6,200</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >中文導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >

                      <span class="text-secondary-60">(880)</span
                      ><sapn class="border-start ps-3 ms-3">
                        900+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 2,250
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,800</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >專業導覽
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >5 天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.6</span
                      >
                      <span class="text-secondary-60">(540)</span
                      ><sapn class="border-start ps-3 ms-3">
                        700+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 1,580
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 2,500</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
            <swiper-slide
              ><div>
                <div class="card border-0 position-relative">
                  <button
                    type="button"
                    class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                  >
                    <span class="material-icons-outlined">
                      favorite_border
                    </span>
                  </button>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="card-img-top rounded-4 mb-4"
                    alt="..."
                  />
                  <div>
                    <h4 class="fs-8 fw-bold mb-2">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </h4>
                    <div class="d-flex mb-2">
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >即買即用
                      </span>
                      <span
                        class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                        >7天前可免費取消</span
                      >
                    </div>
                    <p class="fs-9 pb-4 mb-4 border-bottom">
                      <span
                        ><img src="../assets/images/star.svg" alt="" />4.7</span
                      >
                      <span class="text-secondary-60">(319)</span
                      ><sapn class="border-start ps-3 ms-3">
                        600+ 個已訂購</sapn
                      >
                    </p>
                    <p>
                      <span class="fs-7 fw-bold text-primary-100 d-block">
                        NT$ 6,890
                      </span>
                      <span class="fs-9 text-secondary-60"
                        ><del>NT$ 8,890</del></span
                      >
                    </p>
                  </div>
                </div>
              </div></swiper-slide
            >
          </swiper-container>
        </div>
      </section>
      <section class="container-fliud position-relative py-7 py-lg-10">
        <div class="container">
          <h2 class="fs-lg-2 fs-4 fw-bold text-primary-100 mb-7">
            來自 ZOBAA 的大阪推薦
          </h2>
          <nav class="overflow-x-auto">
            <ul
              class="d-flex flex-wrap gap-lg-7 gap-6 pb-4 border-bottom tourism"
            >
              <li>
                <a href="#" class="active">觀光行程</a>
              </li>
              <li><a href="#">景點門票</a></li>
              <li><a href="#">交通優惠</a></li>
              <li><a href="#">美食餐廳</a></li>
              <li><a href="#">本月優惠</a></li>
            </ul>
          </nav>
        </div>
        <button
          type="button"
          class="btn button-prev star-0 top-50 shadow position-absolute border-0 d-none d-lg-block"
        >
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>
        <button
          type="button"
          class="button-next end-0 top-50 shadow position-absolute border-0 d-none d-lg-block"
        >
          <span class="material-symbols-outlined"> arrow_forward </span>
        </button>
        <swiper-container
          class="mySwiper container d-none d-lg-block"
          slides-per-view="4"
          initial-slide="0"
          space-between="24"
          pagination="false"
          pagination-type="fraction"
          navigation="false"
          swiper-autoplay-delay=" 2500ms"
          autoplay-disable-on-interaction="false"
        >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >即買即用</span
                    >
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.8</span
                    >
                    <span class="text-secondary-60">(1029)</span
                    ><sapn class="border-start ps-3 ms-3">
                      1,000+ 個已訂購</sapn
                    >
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 5,480
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 6,200</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold">
                    奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >中文導覽
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.7</span
                    >

                    <span class="text-secondary-60">(880)</span
                    ><sapn class="border-start ps-3 ms-3"> 900+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 2,250
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 2,800</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >專業導覽
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.6</span
                    >
                    <span class="text-secondary-60">(540)</span
                    ><sapn class="border-start ps-3 ms-3"> 700+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 1,580
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 2,500</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >即買即用
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >7天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.7</span
                    >
                    <span class="text-secondary-60">(319)</span
                    ><sapn class="border-start ps-3 ms-3"> 600+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 6,890
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 8,890</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
        </swiper-container>
        <swiper-container
          class="mySwiper container d-lg-none d-block"
          slides-per-view="1"
          initial-slide="0"
          space-between="24"
          pagination="false"
          pagination-type="fraction"
          navigation="false"
        >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >即買即用</span
                    >
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.8</span
                    >
                    <span class="text-secondary-60">(1029)</span
                    ><sapn class="border-start ps-3 ms-3">
                      1,000+ 個已訂購</sapn
                    >
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 5,480
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 6,200</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold">
                    奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >中文導覽
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.7</span
                    >

                    <span class="text-secondary-60">(880)</span
                    ><sapn class="border-start ps-3 ms-3"> 900+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 2,250
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 2,800</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >專業導覽
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.6</span
                    >
                    <span class="text-secondary-60">(540)</span
                    ><sapn class="border-start ps-3 ms-3"> 700+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 1,580
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 2,500</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
          <swiper-slide
            ><div>
              <div class="card border-0 position-relative">
                <button
                  type="button"
                  class="btn position-absolute top-0 end-0 border-0 text-white p-4 fs-6"
                >
                  <span class="material-icons-outlined"> favorite_border </span>
                </button>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                  class="card-img-top rounded-4 mb-4"
                  alt="..."
                />
                <div>
                  <h4 class="fs-8 fw-bold mb-2">
                    大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                  </h4>
                  <div class="d-flex mb-2">
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >即買即用
                    </span>
                    <span
                      class="text-primary-100 bg-primary-10 rounded-1 py-1 px-2 fs-9 me-2"
                      >7天前可免費取消</span
                    >
                  </div>
                  <p class="fs-9 pb-4 mb-4 border-bottom">
                    <span
                      ><img src="../assets/images/star.svg" alt="" />4.7</span
                    >
                    <span class="text-secondary-60">(319)</span
                    ><sapn class="border-start ps-3 ms-3"> 600+ 個已訂購</sapn>
                  </p>
                  <p>
                    <span class="fs-7 fw-bold text-primary-100 d-block">
                      NT$ 6,890
                    </span>
                    <span class="fs-9 text-secondary-60"
                      ><del>NT$ 8,890</del></span
                    >
                  </p>
                </div>
              </div>
            </div></swiper-slide
          >
        </swiper-container>
      </section>
    </main>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
